<% include header.html %>

<div class="panel">
    <div class="header">
      <ul class="breadcrumb">
        <li><a href="/">主页</a><span class="divider">/</span></li>
        <li class="active"><a href="/blog">博客列表</a></li>
      </ul>
    </div>
</div>

<div class="panel">
<%for(var i in blogs){%>
	<div class="row">
		<span class="col-xs-6">
		<a href="blog/<%=blogs[i]._id%>"><%=blogs[i].title!='' ? blogs[i].title : 'undefined'%></a>
		</span>

		<span class="col-sm-4">
		<%=blogs[i].post_time_friendly%>
		</span>

		<div class="detail">
		<%-blogs[i].content%>
		</div>

		<span class="visit">阅读(<%=blogs[i].visit_count%>)</span>
		<span class="reply">评论(<%=blogs[i].reply_count%>)</span>
	</div>
<%}%>
</div>

<% include footer.html %>
