<div class="post-list">
<%for(var i in blogs){%>
	<div class="item">
		<h3><a href="/blog/<%=blogs[i]._id%>"><%=blogs[i].title!='' ? blogs[i].title : 'undefined'%></a></h3>
		<div class="detail">
			<%-blogs[i].content_html_head%>
		</div>
		<div class="post-foot">
			<span class="author">作者(<a href="user/<%=blogs[i].author%>"><%=blogs[i].author%></a>)</span>
			<span class="visit">阅读(<%=blogs[i].visit_count%>)</span>
			<span class="reply">评论(<%=blogs[i].reply_count%>)</span>
			<span class="time">发布于 <%=blogs[i].post_time_friendly%></span>
                    <%if(typeof current_user != 'undefined'){%>
                    <span class="edit"><a href="../blog/edit/<%=blogs[i]._id%>">编辑</a></span>
                    <span class="drop"><a href="javascript:;" class="drop-blog" data-id="<%=blogs[i]._id%>">删除</a></span>
                    <%}%>
		</div>
	</div>
<%}%>

<nav>
  <ul class="pagination">
    <%if(page.prev){%>
    <li>
      <a href="<%=page.prev%>" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <%}%>
    <%if(page.one){%>
    <li><a href="<%=page.one.url%>"><%=page.one.index%></a></li>
    <li><span>···</span></li>
    <%}%>
    <%if(page.pagecount>1){%>
    <%for(var i in page.item){var item = page.item[i];%>
    <li<%if(page.currentpage==item.page){%> class="active"<%}%>><a href="<%=item.url%>"><%=item.page%></a></li>
    <%}}%>
    <%if(page.last){%>
    <li><span>···</span></li>
    <li><a href="<%=page.last.url%>"><%=page.last.index%></a></li>
    <%}%>
    <%if(page.next){%>
    <li>
      <a href="<%=page.next%>" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    <%}%>
  </ul>
</nav>
</div>
<script type="text/javascript">
require(['jquery', 'blog'],function($,blog){
          $('.drop-blog').click(function(){
            blog.drop($(this).attr('data-id'), function(res){
                if(res.status){
                  setTimeout(function(){
                    location.href = '/blog';
                  }, 1000);
                }else{
                  alert(res.msg);
                }
            });
          });
});
</script>