<div class="post-list">
<%for(var i in blogs){%>
	<div class="item">
		<h3><a href="blog/<%=blogs[i]._id%>"><%=blogs[i].title!='' ? blogs[i].title : 'undefined'%></a></h3>
		<div class="detail">
			<%-blogs[i].content_html_head%>
		</div>
		<div class="post-foot">
			<span class="visit">阅读(<%=blogs[i].visit_count%>)</span>
			<span class="reply">评论(<%=blogs[i].reply_count%>)</span>
			<span class="time">发布于 <%=blogs[i].post_time_friendly%></span>
		</div>
	</div>
<%}%>
</div>

<aside class="sidebar">
	<section class="side-item">
	<h2>推荐文章</h2>
	<ul>
	<%for(var i in blogs){%>
		<li><a href="blog/<%=blogs[i]._id%>"><%=blogs[i].title!='' ? blogs[i].title : 'undefined'%></a></li>
		<%}%>
	</ul>
	</section>

	<section class="side-item">
	<h2>友情连接</h2>
	<ul>
		<li><a href="http://www.talkdata.com.cn" target="_blank">大数据官网</a></li>
	</ul>
	</section>
</aside>
