<div class="panel">
<div class="header">
  <ul class="breadcrumb">
    <li><a href="/">主页</a></li>
    <li class="active">注册</li>
  </ul>
</div>

<form class="form-horizontal" method="POST">
  <div class="form-group">
    <label for="email" class="col-sm-3 control-label">邮箱</label>
    <div class="col-sm-7">
    <input type="text" class="form-control" id="email" name="email" placeholder="邮箱" check-rule="email" check-warning="错误" check-correct="正确">
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="col-sm-3 control-label">密码</label>
    <div class="col-sm-7">
    <input type="password" class="form-control" id="password" name="password" placeholder="密码" check-rule="require" check-warning="错误" check-correct="正确">
    </div>
  </div>
  <div class="form-group">
    <label for="repassword" class="col-sm-3 control-label">重复密码</label>
    <div class="col-sm-7">
    <input type="password" class="form-control" id="repassword" name="repassword" placeholder="密码" check-rule="repwd" check-warning="@repwdmsg" check-correct="正确">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-10">
      <button type="button" class="btn btn-primary" id="btn-reg">登录</button>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-10">
      <label class="control-label text-left" id="reg-msg"></label>
    </div>
  </div>
</form>
</div>

<script type="text/javascript">
  var repwdmsg = '';
  require(['jquery','ye_check'],function($,blog){
    ye.extend({
      repwd : function(id, val){
          if(val == ''){
             repwdmsg = '不能为空';
             return false;
          }

          if(val =='' || val != $('#password').val()){
            repwdmsg = '两次输入的密码不相同';
            return false;
          }else{
            return true;
          }
      }
    });
    $('#btn-reg').click(function(){
        ye.verify('.form-horizontal').do_post({
            method : 'ajax',//ajax模式提交
            btn : {
              name : '#btn-reg',
              text : 'load...'
            },
            success : function(res){
                $('#reg-msg').html(res.msg);
                if(res.status){
                  $('#reg-msg').removeClass('derr').addClass('dright');
                    location.href = '/';
                }else{
                  $('#reg-msg').removeClass('dright').addClass('derr');
                }
            }
          });
     
    })
    
  });
</script>