@charset "utf-8";

body {
	position: relative;
	padding-top: 50px;
}

.blank10 {
	height: 10px;
}

.desc {
	color: #999;
	font-style: italic;
}

.wid160 {
	width: 160px;
}

.wid100 {
	width: 100px;
	display: inline-block;
}

.wid200 {
	width: 200px;
}

.wid230 {
	width: 230px;
}

.auto-field {
	display: none;
}

.pageBox{ margin:0 10px;}

.footer {
	margin: 20px auto;
	width: 900px;
	text-align: center;
}

.derr {
    background: url("../images/form_check.png") no-repeat scroll 0 -34px;
    color: #FF0000;
    margin: 0 0 0 4px;
    padding: 5px 0 5px 20px;
}
.dright {
    background: url("../images/form_check.png") no-repeat scroll 0 -4px;
    color: #333333;
    margin: 0 0 0 4px;
    padding: 5px 0 5px 20px;
}

#main{
	margin-top: 10px;
}

.title{
	padding: 10px;
	border-bottom: 1px #ccc solid;
}

.content{
	padding: 10px;
}

#notify{
	margin-top:  20px;
	padding: 20px 10px;
}

.bar{
	text-align: right;
	padding:10px;
}

#login-form{
	width:450px;
	margin:auto;
}

.container{
	position: relative;
}

.post-list {
	float : left;
	margin-right: 320px;
}

.post-list .post-foot{
	color : #555;
}

.post-list .item{
	padding : 10px;
	border-bottom: 1px solid #DDDDDD;
}

.post-list h3{
	height: 30px;
}

.post-list .detail{
	color: #333;
	clear: both;
	margin-bottom: 20px;
}

.sidebar{
	width : 300px;
	float: right;
	background: #f0f0f0;
	position: absolute;
	top : 30px;
	right: 0;
}

.sidebar .side-item{
	margin : 10px;
}

.sidebar .side-item ul{
	list-style: none;
	margin:0;
	padding: 0;
}

.sidebar .side-item li{
	margin: 0;
	list-style: none;
	padding: 8px 0 8px 15px;
	border-bottom: 1px dotted #ccc;
}